<h1>{{restauranteActual.restaurante}}<h1>

<div *ngFor = 'let carta of restauranteActual.carta'>
	<ul>

		<li> Nombre del plato: {{carta.nombrePlato}}</li>
		<li> Precio: {{carta.precio}}</li>
		
	</ul>
</div>
