<div class = "container">

<div class="row">
<div *ngFor = 'let restaurante of (list | redRestaurants)'>
	<ul>
		<li>{{restaurante.id}}</li>
		<li><div [class]='restaurante.estilo' role="alert" (click)="useService(restaurante.restaurante)" [routerLink]="['/restaurante-carta', restaurante.id]"> 
      {{restaurante.restaurante | uppercase}}</div></li>

	</ul>
</div>
</div>

<div class="row">
   <h1>Agregar restaurante</h1>
   <form [formGroup]="agregarRestauranteForm" (ngSubmit)="onSubmit()">
      <div class = "form-group">
         <label for="id">ID</label>
         <input type="text" class ="form-control" id="id" 
            name="id" formControlName="id">
      </div>
      
      <div class="form-group">
         <label for="nombre">Nombre restaurante</label>
         <input type="text" class="form-control" id="nombre"
             name="nombre" formControlName="nombre">
      </div>
      <div class="form-group">
         <label for="color">Color</label>
         <select id="color" class="form-control" name="color" formControlName="color">
         	<option value="alert alert-danger">Rojo</option>
         	<option value="alert alert-success">Verde</option>
         </select>
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button> 
   </form>
</div>
</div>