<div *ngFor = 'let restaurante of list'>
	<ul>
		<li>{{restaurante.id}}</li>
		<li><div [class]='restaurante.estilo' role="alert" (click)="useService(restaurante.restaurante)"> {{restaurante.restaurante}}</div></li>
	</ul>
</div>