<div class = "container">

<div class="row">
<div *ngFor = 'let restaurante of list'>
	<ul>
		<li>{{restaurante.id}}</li>
		<li><div [class]='restaurante.estilo' role="alert" (click)="useService(restaurante.restaurante)" [routerLink]="['/restaurante-carta', restaurante.id]"> {{restaurante.restaurante}}</div></li>

	</ul>
</div>
</div>

<div class="row">
   <h1>Product Form</h1>
   <form>
      <div class = "form-group">
         <label for = "id">ID</label>
         <input type = "text" class = "form-control" id = "id" required
            [(ngModel)] = "model.productid" name = "id">
      </div>
      
      <div class = "form-group">
         <label for = "nombre">Nombre restaurante</label>
         <input type = "text" class = "form-control" id = "nombre"
            [(ngModel)] = "model.productname" name = "nombre">
      </div>
   </form>
</div>
</div>