
<div *ngFor = 'let restaurante of list'>
	<ul>
		<li>{{restaurante.id}}</li>
		<li><div [class]='restaurante.estilo' role="alert" (click)="useService(restaurante.restaurante)" [routerLink]="['/restaurante-carta', restaurante.id]"> {{restaurante.restaurante}}</div></li>

	</ul>
</div>